<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="javascript/home.js"></script>
        <link rel="stylesheet" type="text/css" href="css/home.css">
    </head>
	
		  <body>
        
    <div id="content"> <!--  page content  -->
        
        
        
        <div id="form"> <!--  form div  -->
            
            <img src="images/phone.png"> 
            
            <form method="POST" action="/signedin">
                <label for="username">Username</label>
                <input type="text" placeholder="username"name="username">
                
                <br>
                
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password">
                <input type="submit">
                
                <br><br>
                
                <a href="http://localhost:4567/signup">Don't have an account? Sign up here.</a>
            </form>
                        
        </div> <!--  end of form div  -->
        
        
        <div id="footer"> <!--  footer  -->
            
            <div id= "nav">
                <ul>
                    <li><a href= "">Sign in</a></li>
                    <li><a href= "">About</a></li>
                    <li><a href= "">Contact Us</a></li>
                    <li><a href= "/home">Partners</a></li>
                    <li><a href= "">Terms</a></li>
                </ul>
            </div>
        
        </div><!--end footer-->
        
    </div><!--end content-->
    
    </body>
    	
</html>