<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src=""></script>
        <link rel="stylesheet" type="text/css" href="css/signup.css">
    </head>
	
		  <body>
        
    <div id="content">
        
        
        
        <div id="form"> <!--  register here  -->    
            <h1> Register and Sign up</h1>
            <form method="POST" action="/signup" class = "signup">
                
                <input type="text" placeholder="first name" name="[user]fname">
                <br>
                <input type="email" placeholder="email" name="[user]email">
                <br>
                <input type="text" placeholder="username"name="[user]username">
                <br>
                <input type="password" placeholder="password" name="[user]password">
                <br>
                <input type="submit">
                
            </form>
        </div>
        
        <div id="footer">  
            <div id= "nav">
                <ul>
                    <li><a href= "/">Sign in</a></li>
                    <li><a href= "">About</a></li>
                    <li><a href= "">Contact Us</a></li>
                    <li><a href= "">Partners</a></li>
                    <li><a href= "">Terms</a></li>
                </ul>
            </div>
        
        </div><!--end footer-->
        
    </div><!--end content-->
    
    </body>
    	
</html>